{% extends 'base.html' %}
{% load static %}



{% block meta %}
<title>CaseWorqer</title>
<style>
    .form-container{
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    padding: 30px 50px 10px 50px;
    font-family: Roboto,sans-serif;
   
    }
    .form-container h2.form-heading{
        text-align: center;
        text-transform:uppercase;
        font-size: 24px;
        margin-bottom: 32px;
        border-bottom: 1px solid #eee;
        padding-bottom: 8px;
    }


    #id_message1{
      height: 150px;
    }
   

    .btn-block {
        margin-top: 10px;
        text-align: center;
    }
    .btn-block button {
        width: 100%;
        padding: 10px 0;
        margin: 10px auto;
        border-radius: 5px; 
        border: none;
        background: #1c87c9; 
        font-size: 14px;
        font-weight: 600;
        color: #fff;
    }
    .btn-block button:hover {
        background: #2fafe6;
    }
    .btn-control{
      margin: 0 0 0 220px;
    }
</style>
{% endblock meta %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a href="../../">Home</a>
  </li>
  <li class="nav-item">
    <a href="../../pelamarkerja/carilowongan">Cari Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="../../lowongankerja/lowonganForm">Buka Lowongan</a>
  </li>
  <li class="nav-item">
    <a href=""; class="active">Tips Karier</a>
  </li>
  <li class="nav-item">
    <a href="../../forum" ; >Forum</a>
  </li>
  <li class="nav-item">
    <a href="../../company_review">Company Review</a>
  </li>
</ul>
{% endblock navbar %}


{% block content %}
<h1 style="text-align:center;">CASEWORQER Tips Karier</h1>

<div style="width: 100%; background: white;" class="content-place sizing">
<br>
<div class = "btn-control">
  {% if request.user.is_superuser %}
  <a href="{% url 'tipskarier:editmode' %}" role="button" class="button-add border btn btn-success ">Back</a>
  {% endif %}
</div>

  <div class = "form-container">
    <h2 class = "form-heading">Artikel Form</h2>
      <form action= "" method = "POST" enctype= "multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
   
        <div class="btn-block">
          <button type="update" href="/">Update</button>
        </div>
      </form>
  </div>

</div>

<div style="height:10px;background-color:#DA5144"></div>
<div style="height:10px;background-color: white"></div>
{% endblock content %}


