{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CaseWorqer</title>
<style>
  .cardx {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    background: rgb(218, 218, 218);
    background: linear-gradient(120deg, rgb(214, 235, 229) 0%, rgb(156, 192, 169) 50%, rgb(137, 192, 160) 100%);
  }

  .cardx:hover {
    background: rgb(218, 218, 218);
    background: linear-gradient(90deg, rgba(218, 218, 218, 1) 0%, rgba(243, 254, 247, 1) 50%, rgba(202, 208, 202, 1) 100%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .containercard {
    padding: 2px 16px;
  }

  h4 {
    margin: 0;
  }
</style>
{% endblock meta %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a href="../">Home</a>
  </li>
  <li class="nav-item">
    <a href="">Cari Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="" class="active">Buka Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="">Tips Karier</a>
  </li>
  <li class="nav-item">
    <a href="../forum">Forum</a>
  </li>
</ul>
{% endblock navbar %}

{% block content %}

<div style="width: 100%; background: #f2fce6;">
  <h2 style="padding-top: 20px; text-align: center;">Profil Perusahaan</h2>
  <br>

  {% if theCompany%}
  {% for company in theCompany %}

  <div class="cardx center">
    <div class="containercard">
      <h3 class="card-title" style="padding-top: 10px;">{{company.companyName}}</h3>
      <h4 class="card-subtitle mb-2 text-muted">{{company.companyAddress}}</h4>
      <h4 class="card-subtitle mb-2 text-muted">{{company.companyEmail}}</h4>
      <h4 class="card-subtitle mb-2 text-muted">{{company.companyPhoneNumber}}</h4>
      <p class="card-text" style="white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100ch;">{{company.companyDescription}}</p>


      </p>
      <button type="button" class="btn btn-primary float-right" data-toggle="modal"
        data-target="#exampleModalCenter{{company.companyDescription}}">
        Full Deskripsi
      </button>
      <br>
      <br>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter{{company.companyDescription}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Tentang Perusahaan</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{company.companyDescription}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  {% endfor %}

  {% else %}
  <form action="../profilperusahaan/formProfilPerusahaan" method="post" id="fillForm">
    {% csrf_token %}
    <div class="col-md-12 text-center">
      <button type="submit" name="fill" class="btn btn-success" form="fillForm">Isi Profil Perusahaan</button>
    </div>  
  </form>
  {% endif %}
  <br>
  <br>
  <br>
</div>
<div style="height:10px;background-color:#DA5144"></div>
{% endblock content %}