/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: black;
}
h1{
  color: #DA5144;
}
p{
  background-color: white;
  color: black;
}
