{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CaseWorqer</title>
<style>
  @media (min-width:961px) {
    .sizing {
      width: 40%
    }
  }

  .button-place {
    background-color: #449f5e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    transition-duration: 0.3s;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 24.5%;
    margin-bottom: 8px;
    text-decoration: none;
  }

  .button-add:hover {
    background-color: #38734a;
    color: white;
    text-decoration: none;
  }

  .submit-btn {
    background-color: #34ae57;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.3s;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 55.5%;
    text-decoration: none;
  }

  .masuk-btn {
    background-color: #949494;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.3s;
    cursor: pointer;
    margin-top: 40px;
    ;
    text-decoration: none;
  }

  .cancel-btn {
    background-color: #e93322;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.3s;
    cursor: pointer;
    margin: 4px 4px 10px 4px;
    text-decoration: none;
  }

  .reset-btn {
    background-color: #918e8e;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.3s;
    cursor: pointer;
    margin: 4px 4px 10px 4px;
    text-decoration: none;
  }

  .submithov:hover {
    background-color: #237e3d;
    color: white;
    text-decoration: none;
  }

  .cancel:hover {
    background-color: #b1281b;
    color: white;
    text-decoration: none;
  }

  .masukhov:hover {
    background-color: #6d6f6d;
    color: white;
    text-decoration: none;
  }

  .resethov:hover {
    background-color: #514f4f;
    color: white;
    text-decoration: none;
  }

  .place-forum {
    text-align: right;
    font-size: 17px;
    margin-top: 1%;
  }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  $(document).ready(function () {
    $("button").click(function () {
      $("#box").load("../accounts/login #logIn");
    });
  });
</script>

{% endblock meta %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a href="../">Home</a>
  </li>
  <li class="nav-item">
    <a href="../pelamarkerja/carilowongan">Cari Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="../lowongankerja/lowonganForm">Buka Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="../tipskarier">Tips Karier</a>
  </li>
  <li class="nav-item">
    <a href="" ; class="active">Forum</a>
  </li>
</ul>
{% endblock navbar %}

{% block content %}
{% if user.is_authenticated %}
<h1 style="text-align:center;">CASEWORQER FORUM</h1>
<div style="width: 100%; background: white;" class="content-place">

  <a href="../forum" role="button" class="button-place button-add">Back to Forum</a>
  <form action="" method="POST" onreset="myfunc()">
    {% csrf_token %}
    <div class="place-forum">
      <table align="center">
        <tr>
          {{inputContent.as_table}}<br>
        </tr>
      </table>
    </div>
    <input class="submit-btn submithov" type="submit" value="Post to Forum">
    <a id="out" href="../forum" role="button" onclick="return myCancel()" class="cancel-btn cancel">Cancel</a>
    <input class="reset-btn resethov" type="reset" value="Reset">
  </form>
  <script>
    function myfunc() {
      alert("The change you made will be reset.");
    }
  </script>
  <script>
    function myCancel() {
      flag = confirm("Do you really want to cancel ?\nThe change you made will not be saved.")
      if (flag == true) { return true; }
      else { return false; }
    }
  </script>
  {% else %}
  <div style="color: white;">
    <h4 style="text-align: center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 4%;">
      You Must Log-in First Before Creating Any Posts in Forum !</h4>
    <div id="box">
      <h5 style="text-align: center;">Click To Log-in</h5>
      <div class="col text-center">
        <button type="button" style="margin-top: 2%;" class="masuk-btn masukhov">Log-in</button>
      </div>
    </div>
  </div>

  {% endif %}
  <br><br><br>
  <div style="height:10px;background-color:#DA5144"></div>
  <div style="height:10px;background-color: white"></div>

</div>
{% endblock content %}