{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CaseWorqer</title>
<style>
    .button-place{
      background-color:#449f5e;border: none;color: white;padding: 10px 20px;
      text-align: center;display: inline-block;font-size: 17px;transition-duration: 0.3s;
      cursor: pointer;margin-top: 30px;margin-left: 1015px;text-decoration: none;
    }
    .button-add:hover{
      background-color: #38734a;color: white;text-decoration: none;
    }
    .form-place{
      margin-top: 30px;background:#eee;box-shadow: 3px 4px 15px 0 rgb(233, 233, 233);border-left: 5px #101820ff solid;width: 50%;
    }
    .form-container{
      padding: 2px 16px;
    }
    .break-del{
      display: inline;
    }
    .display-pict{
      height: 40px; width: 40px;margin : 15px 10px 10px 5px;background-color: #fafafa;border-radius:50%;float: left;
    }
    .content{
      background-color: #eee;
    }
  </style>
{% endblock meta %}

{% block navbar %}
<a href="../">Home</a>
<a href="../pelamarkerja/carilowongan">Cari Lowongan</a>
<a href="">Buka Lowongan</a>
<a href="">Tips Karier</a>
<a href="" ; class="active">Forum</a>
<a href="" style="float: right;">Masuk</a>
<p> | </p>
<a href="" style="float: right;">Daftar</a>
{% endblock navbar %}


<!-- ini isinya -->
{% block content %}
<h1 style="text-align:center;">FORUM CASEWORQER</h1>
<div style="width: 100%; background: white;" class="content-place">
  
  <a href="add" role="button" class="button-place button-add">Add New Post</a>
  {% if PostContent %}
    {% for post in PostContent %}
      <div class="form-place center">
        <div class="form-container">
          <img class="display-pict" src="https://bootdey.com/img/Content/avatar/avatar7.png">
          <br>
          <h4 class="break-del">{{post.title}}</h4>
          <br><span style="font-size: 13px;opacity:75%;">by : <b>Author Unknown</b> - {{post.postTime}}</span>
          <p class="content">
            {{post.message}}
          </p>
        </div>
      </div> 
    {% endfor %}
  {% endif %}          
    <br>
    <br>
    <br>
</div>

<div style="height:10px;background-color:#DA5144"></div>
<div style="height:10px;background-color: white"></div>
{% endblock content %}