{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CaseWorqer</title>
<style>
    @media (min-width:961px){
      .sizing{
        width: 40%;
      }
    }
    .button-place{
      background-color:#449f5e;border: none;color: white;padding: 10px 20px;
      text-align: center;display: inline-block;font-size: 17px;transition-duration: 0.3s;
      cursor: pointer;margin-top: 30px;margin-left: 65%;text-decoration: none;
    }
    .button-add:hover{
      background-color: #38734a;color: white;text-decoration: none;
    }
    .form-place{
      margin-top: 30px;background:#eee;box-shadow: 3px 4px 15px 0 rgb(233, 233, 233);
      border-left: 5px #101820ff solid;width: 50%; padding-bottom: 3%;
    }
    .form-container{
      padding: 2px 16px;
    }
    .break-del{
      display: inline;
      font-size: 17px; font-family:'Sansita One' ;
      font-family:Arial, Helvetica, sans-serif;
    }
    .display-pict{
      height: 40px; width: 40px;margin : 15px 10px 0px 0;background-color: #fafafa;border-radius:50%;float: left;
    }
    .content{
      background-color: #eee; font-size: 15px;margin-bottom: 7px;
    }
    .tab-br{
      margin-bottom: 10px;
    }
    .br{
      margin-bottom: 10px;
    }
    .rep-btn{
      background-color:#d6b85a;color:white;padding:0.5%;
      font-size: 13px;text-decoration: none;transition-duration: 0.3s;
      float: right; margin-right: 14%;margin-top: 1%; padding-right: 2%;padding-left: 2%;
    }
    .rep-btn-hov:hover{
      background-color:#b59432;color:white;
      font-size: 13px;text-decoration: none;transition-duration: 0.3s;
      float: right; margin-right: 13%;margin-top: 1%;padding-right: 2%;padding-left: 2%;
    }
  </style>
{% endblock meta %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a href="../">Home</a>
  </li>
  <li class="nav-item">
    <a href="../pelamarkerja/carilowongan">Cari Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="">Buka Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="../tipskarier">Tips Karier</a>
  </li>
  <li class="nav-item">
    <a href="" ; class="active">Forum</a>
  </li>
  <li class="nav-item">
    <a href="../company_review">Company Review</a>
  </li>
</ul>
{% endblock navbar %}

<!-- ini isinya -->
{% block content %}
<h1 style="text-align:center;">CASEWORQER FORUM</h1>

<div style="width: 100%; background: white;" class="content-place sizing">
  
  <a href="add" role="button" class="button-place button-add">Add New Post</a>

  {% if PostContent %}
    {% for post in PostContent %}
      <div class="form-place center sizing">
        <div class="form-container">
          <table class="tab-br">
            <thead>
              <img class="display-pict" src="https://bootdey.com/img/Content/avatar/avatar7.png">
            </thead>
            <tr>
              <p class="br"></p>
              <b><h4 class="break-del">{{post.title}}</h4></b><br>
              <span style="font-size: 13px;opacity:75%;text-decoration: none;">by : <b>{{author}}</b> - {{post.postTime}}</span>
            </tr>
          </table>
          <p class="content">
            {{post.message}}
            <br>
            <a href="#" class="rep-btn rep-btn-hov" role="button">Reply</a>
          </p>
        </div>
      </div> 
    {% endfor %}
  {% endif %}  

    <br>
    <br>
    <br>

</div>

<div style="height:10px;background-color:#DA5144"></div>
<div style="height:10px;background-color: white"></div>
{% endblock content %}