{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CaseWorqer</title>
<style>
    @media (min-width:961px){
      .sizing{
        width: 40%;
      }
    }
    .button-place{
      background-color:#449f5e;border: none;color: white;padding: 10px 20px;
      text-align: center;display: inline-block;font-size: 17px;transition-duration: 0.3s;
      cursor: pointer;margin-top: 30px;margin-left: 65%;text-decoration: none;
    }
    .button-add:hover{
      background-color: #38734a;color: white;text-decoration: none;
    }
    .form-place{
      margin-top: 30px;background:#eee;box-shadow: 3px 4px 15px 0 rgb(233, 233, 233);
      border-left: 5px #101820ff solid;width: 50%; padding-bottom: 3%;
    }
    .form-container{
      padding: 2px 16px;
    }
    .break-del{
      display: inline;
      font-size: 17px; font-family:'Sansita One' ;
      font-family:Arial, Helvetica, sans-serif;
    }
    .display-pict{
      height: 40px; width: 40px;margin : 15px 10px 0px 0;background-color: #fafafa;border-radius:50%;float: left;
    }
    .content{
      background-color: #eee; font-size: 15px;margin-bottom: 7px;
    }
    .tab-br{
      margin-bottom: 10px;
    }
    .br{
      margin-bottom: 10px;
    }
    .rep-btn{
      background-color:#d6b85a;color:white;padding:0.5%;
      font-size: 13px;text-decoration: none;transition-duration: 0.3s;
      float: right; margin-right: 14%;margin-top: 1%; padding-right: 2%;padding-left: 2%;
    }
    .rep-btn-hov:hover{
      background-color:#b59432;color:white;
      font-size: 13px;text-decoration: none;transition-duration: 0.3s;
      float: right; margin-right: 13%;margin-top: 1%;padding-right: 2%;padding-left: 2%;
    }
    .com-position{
      margin-top: 10px;background:rgb(224, 224, 224);box-shadow: 1px 2px 10px 0 rgb(209, 208, 208);
      border-left: 5px #6a7682 solid;width: 47%; padding-bottom: 3%;
      margin-left: 28%;margin-top:1.5%;padding: 2px 12px;
    }

  </style>
{% endblock meta %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a href="../">Home</a>
  </li>
  <li class="nav-item">
    <a href="../pelamarkerja/carilowongan">Cari Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="../lowongankerja/lowonganForm">Buka Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="../tipskarier">Tips Karier</a>
  </li>
  <li class="nav-item">
    <a href="" ; class="active">Forum</a>
  </li>
  <li class="nav-item">
    <a href="../company_review">Company Review</a>
  </li>
</ul>
{% endblock navbar %}

<!-- ini isinya -->
{% block content %}
<h1 style="text-align:center;">CASEWORQER FORUM</h1>

<div style="width: 100%; background: white;" class="content-place sizing">
  
  <a href="add" role="button" class="button-place button-add">Add New Post</a>

  <!-- this is the post -->
  {% if PostContent %}
    {% for postingan in PostContent %}
      <div class="form-place center sizing"> 
        <!-- yang di atas itu background -->
        <div class="form-container">
          <table class="tab-br">
            <thead>
              <img class="display-pict" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/271deea8-e28c-41a3-aaf5-2913f5f48be6/de7834s-6515bd40-8b2c-4dc6-a843-5ac1a95a8b55.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI3MWRlZWE4LWUyOGMtNDFhMy1hYWY1LTI5MTNmNWY0OGJlNlwvZGU3ODM0cy02NTE1YmQ0MC04YjJjLTRkYzYtYTg0My01YWMxYTk1YThiNTUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BopkDn1ptIwbmcKHdAOlYHyAOOACXW0Zfgbs0-6BY-E">
            </thead>
            <tr>
              <p class="br"></p>
              <b><h4 class="break-del">{{postingan.title}}</h4></b><br>
              <span style="font-size: 13px;opacity:75%;text-decoration: none;">by : <b>{{author}}</b> - {{postingan.postTime}}</span>
            </tr>
          </table>
          <p class="content">
            {{postingan.message}}
            <br>
            <!-- <button class="rep-btn rep-btn-hov" style="border:none;" onclick="replyFunc()"> -->
            <!-- Reply</button> -->
            <a href="{{postingan.id}}/add-comment" class="rep-btn rep-btn-hov" role="button" onclick="replyFunc('{{postingan.id}}')">Reply</a>
            <script>
              function replyFunc(parent_id){
                const postComment = document.getElementById(parent_id);
                // flag = confirm("Do you really want to cancel ?\nThe change you made will not be saved.")
                // if(flag==true){return true;}
                // else {return false;}
              }
            </script>
          </p>
        </div>
      </div> 
      <p></p>

      <!-- comment here, before going to next post forum -->
      {% for com in CommentContent %}
        {% if com.post_id == postingan.id %}
            <div class="com-position center sizing"> 
              <div style="padding: 2px 16px;">
                <table class="tab-br">
                  <thead>
                    <img class="display-pict" style="height: 30px; width: 30px;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/271deea8-e28c-41a3-aaf5-2913f5f48be6/de7834s-6515bd40-8b2c-4dc6-a843-5ac1a95a8b55.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI3MWRlZWE4LWUyOGMtNDFhMy1hYWY1LTI5MTNmNWY0OGJlNlwvZGU3ODM0cy02NTE1YmQ0MC04YjJjLTRkYzYtYTg0My01YWMxYTk1YThiNTUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BopkDn1ptIwbmcKHdAOlYHyAOOACXW0Zfgbs0-6BY-E">
                    </thead>
                    <tr>
                      <p class="br"></p>
                      <h4 class="break-del" style="font-size:15px;"><b>{{author}}</b></h4>
                      <br><span style="font-size: 13px;opacity:75%;">{{com.commentTime}}</span>
                    </tr>
                </table>
                <p class="content" style="background-color:rgb(226, 226, 226);">
                  {{com.commentText}}
                  <br>
                </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}    
  {% endif %}
    <br>
    <br>
    <br>
</div>
<div style="height:10px;background-color:#DA5144"></div>
<div style="height:10px;background-color: white"></div>
{% endblock content %}