{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <div class="navbar">
    {% block navbar %}
    {% endblock navbar %}
  </div>
  <div class="main">
    {% block content %}
    {% endblock content %}
    <div style="background-color:black">
      <table class="center">
        <tr>
          <td>
            <h3 style="color: #DA5144;
        font-family: 'Sansita One';">CASEWORQER</h1>
              <p style="background-color: black;
        color: white;">Contact us:</p>
          </td>
          <td>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>