{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <div class="navbar">
    <a href="" ; class="active">Home</a>
    <a href="">Cari Lowongan</a>
    <a href="">Buka Lowongan</a>
    <a href="">Tips Karier</a>
    <a href="" style="float: right;">Masuk</a>
    <p>  |  </p>
    <a href="" style="float: right;">Daftar</a>
  </div>
  <div class="main">
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>