@media (min-width:961px){
    .sizing{
      width: 40%;
    }
  }
  
body{
background-color: #f1f1f1;
}

.h1 {
margin-bottom: auto;
}

.star-komentar {
position: static;
padding-left: 50px;
}

.checked {
color: orange;
}

.button {
display: inline-block;
border-radius: 10px;
background-color: #DA5144;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 15px;
padding: 15px;
width: 140px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.button2 {
display: inline-block;
border-radius: 10px;
background-color: #474747;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 15px;
padding: 15px;
width: 140px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

.button2 .tooltiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
}

.button2:hover .tooltiptext {
visibility: visible;
}

.star-komentar1 .tooltiptext1 {
visibility: hidden;
width: 120px;
background-color: rgb(102, 102, 102);
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
}

.star-komentar1:hover .tooltiptext1 {
visibility: visible;
}

.button1 {
position:relative;
border-radius: 5px;
background-color: #4CAF50;
border: #689775;
font-size: 28px;
color: #FFFFFF;
padding: 5px;
margin-top: 10px;
width: 100px;
text-align: center;
font-size: 15px;
transition-duration: 0.4s;
text-decoration: none;
overflow: hidden;
cursor: pointer;
}

.modal-container .button1 {
width: 105px;
margin-right: 180px;
margin-left: 200px;
}

.button1:after {
content: "";
background: #fafafa;
display: block;
position: absolute;
padding-top: 300%;
padding-left: 350%;
margin-left: -20px !important;
margin-top: -120%;
opacity: 0;
transition: all 0.8s
}

.button1:active:after {
padding: 0;
margin: 0;
opacity: 1;
transition: 0s
}

.modal-container {
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

textarea {
width: 500px;
height: 50px;
font-size: 15px;
}

.textarea textarea:focus{
border-color: rgb(3, 93, 48);
}
.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modals {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 20px 20px;
  width: 600px;
  max-width: 50%;
  text-align: center;
}

.display-pict {
height: 40px;
width: 40px;
background-color: #fafafa;
border-radius:50%; 
float: left;
}

.close{
  font-size: 15px;
  position: relative;
}

.card-komentar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 70rem;
  margin: 15px auto;
  background-color: white;
}

.waktu {
  position:fixed;
  color: rgb(56, 56, 56);
  padding-left: 54rem;
}

.card-body {
justify-content: center;
}

.card-komentar h5 {
font-size: 16px;
margin-left: 50px;
font-weight: 700;
margin-bottom: 2px;
}

.review-info h6 {
font-size: 16px;
}

.card-komentar p {
font-size: 16px;
margin-left: 50px;
}

.review-info {
  position: relative;
  margin-left: 455px;
}

.modal-container .star-widget input{
display: none;
}

.star-widget label{
font-size: 20px;
margin-right: 20px;
color: #444;
padding: 8px;
float: right;
transition: all 0.2s ease;
}

.star {
padding-right: 125px;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
color: #fd4;
}
input:checked ~ label{
color: #fd4;
}
input#rate-5:checked ~ label{
color: #fe7;
text-shadow: 0 0 20px #952;
}
.modal-container textarea {
position: relative;
margin-left: 20px;
}

.star-komentar1 {
font-size: 40px;
margin-bottom: 10px;
}

.masuk-btn {
  background-color: #949494;
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin-top: 40px;
  text-decoration: none;
}