{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CaseWorqer</title>
<style>
  .cardx {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    background: rgb(218, 218, 218);
    background: linear-gradient(90deg, rgba(218, 218, 218, 1) 0%, rgba(243, 254, 247, 1) 50%, rgba(224, 224, 224, 1) 100%);
  }

  .cardx:hover {
    background: rgb(218, 218, 218);
    background: linear-gradient(90deg, rgba(218, 218, 218, 1) 0%, rgba(243, 254, 247, 1) 50%, rgba(202, 208, 202, 1) 100%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .containercard {
    padding: 2px 16px;
  }

  h4 {
    margin: 0;
  }
</style>
{% endblock meta %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a href="../">Home</a>
  </li>
  <li class="nav-item">
    <a href="" class="active">Cari Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="../lowongankerja/lowonganForm">Buka Lowongan</a>
  </li>
  <li class="nav-item">
    <a href="../tipskarier">Tips Karier</a>
  </li>
  <li class="nav-item">
    <a href="../forum">Forum</a>
  </li>
  <li class="nav-item">
    <a href="../company_review">Company Review</a>
  </li>
</ul>
{% endblock navbar %}

{% block content %}

<div style="width: 100%; background: #f2fce6;">
  <h2
    style="padding-top: 20px; text-align: center; text-shadow: 1px 2px #bbbdbb; color: #6d1209; font-family: 'Sansita One'">
    CARILAH KARIRMU DI SINI!</h2>
  {% for job in jobList %}

  <div class="cardx center">
    <div class="containercard">
      <h5 class="card-title" style="padding-top: 10px;">{{job.jobs}} ({{job.jobType}})</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{job.company}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{job.location}}</h6>
      <p class="card-text" style="white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100ch;">{{job.about}}</p>
      </p>
      <button type="button" class="btn btn-primary float-right" data-toggle="modal"
        data-target="#exampleModalCenter{{job.about}}">
        Pelajari
      </button>
      <br>
      <br>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter{{job.about}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Tentang Pekerjaan</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{job.about}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
              <form action="../pelamarkerja/lamar" method="post" id="systemForm">
                {% csrf_token %}
                <button type="submit" name="system" class="btn btn-primary" value="{{job.id}}"
                  form="systemForm">Lamar!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  {% empty %}
  <h3 style="padding-top: 10px; text-align: center; color: brown;">Belum ada lowongan!</h2>
    <br>
    {% endfor %}
</div>
<div style="height:10px;background-color:#DA5144"></div>
{% endblock content %}