{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CaseWorqer</title>
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    background: rgb(218,218,218);
    background: linear-gradient(90deg, rgba(218,218,218,1) 0%, rgba(243,254,247,1) 50%, rgba(224,224,224,1) 100%);
  }

  .card:hover {
    background: rgb(218,218,218);
    background: linear-gradient(90deg, rgba(218,218,218,1) 0%, rgba(243,254,247,1) 50%, rgba(202,208,202,1) 100%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .containercard {
    padding: 2px 16px;
  }
  h3{
    
  }
  h4{
    margin: 0;
  }
</style>
{% endblock meta %}

{% block navbar %}
<a href="../">Home</a>
<a href="" class="active">Cari Lowongan</a>
<a href="">Buka Lowongan</a>
<a href="">Tips Karier</a>
<a href="../forum">Forum</a>
<a href="" style="float: right;">Masuk</a>
<p> | </p>
<a href="" style="float: right;">Daftar</a>
{% endblock navbar %}

{% block content %}
<!-- <div class="container">
  <form action="/" method="GET" class="form">
    <input type="search" placeholder="Search" class="search-field" />
    <button type="submit" class="search-button">
      <img src="{% static 'img/search.png' %}">
    </button>
  </form>
</div> -->

<div style="width: 100%; background: #f2fce6;">
  <h2 style="padding-top: 20px; text-align: center;">CARILAH KARIRMU DI SINI!</h2>
  {% for job in jobList %}
  <a href="" style="text-decoration: none;">
    <div class="card center">
      <div class="containercard">
        <h3><b>{{job.jobs}}</b></h3>
        <h4>{{job.company}}</h4>
        <h4>{{job.location}}</h4>
        <h4>{{job.jobType}}</h4>
        <p>
          {{job.about}}
        </p>
      </div>
    </div>
  </a>
  <br>
  {% endfor %}
</div>
<div style="height:10px;background-color:#DA5144"></div>
<div style="height:10px;background-color: white"></div>
{% endblock content %}