{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CaseWorqer</title>
{% endblock meta %}

{% block content %}
<h1>CaseWorqer</h1>
<p>
  Di tengah pandemi covid-19 yang melanda saat ini, pekerjaan semakin banyak dicari oleh masyarakat untuk memenuhi
  kebutuhan hidup. Namun dengan tinggi kasus covid-19 yang bervariasi di tiap daerah menyebabkan lowongan pekerjaan
  semakin jarang dibuka. Sehingga, sulit bagi beberapa orang untuk mencari informasi, melamar, mendapatkan pekerjaan.
  Kami membuat aplikasi yang bertujuan untuk membantu orang-orang yang membutuhkan pekerjaan agar lebih mudah memperoleh
  informasi lowongan pekerjaan di berbagai daerah di tengah pandemi seperti ini. Kami menjembatani perusahaan yang
  membuka lowongan pekerjaan dengan para pelamar yang sedang membutuhkan pekerjaan. Fitur dari website aplikasi ini
  selain menyediakan laman informasi lowongan pekerjaan, juga memberikan tips bagaimana cara melamar pekerjaan dengan
  baik, dan ada juga forum untuk saling berbagi pengalaman terkait pekerjaan yang ada.</p>
<img src="{% static 'img/django-logo-negative.svg' %}">
<table>
  <tr>
    <td></td>
  </tr>
</table>
{% endblock content %}