{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CaseWorqer</title>
<style>
  p {
    background-color: white;
    color: black;
  }
</style>
{% endblock meta %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pelamarkerja/carilowongan">Cari Lowongan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Buka Lowongan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Tips Karier</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/forum">Forum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../company_review">Company Review</a>
  </li>
</ul>
{% endblock navbar %}

{% block content %}
<h1 style="text-align:center;">CASEWORQER</h1>
<!-- <div class="container">
  <form action="/" method="GET" class="form">
    <input type="search" placeholder="Search" class="search-field" />
    <button type="submit" class="search-button">
      <img src="{% static 'img/search.png' %}">
    </button>
  </form>
</div> -->

<div style="background: white;">
  <h2 style="padding-top: 20px; text-align: center;">CARILAH KARIRMU DI SINI!</h2>
  <!-- <table>
    <tr>
      <td style="width: 1000px;">
        <p style="padding-left: 100px; width: 1000px;">
          Di tengah pandemi covid-19 yang melanda saat ini, pekerjaan semakin banyak dicari oleh masyarakat untuk
          memenuhi
          kebutuhan hidup. Namun dengan tinggi kasus covid-19 yang bervariasi di tiap daerah menyebabkan lowongan
          pekerjaan
          semakin jarang dibuka. Sehingga, sulit bagi beberapa orang untuk mencari informasi, melamar, mendapatkan
          pekerjaan.
          Kami membuat aplikasi yang bertujuan untuk membantu orang-orang yang membutuhkan pekerjaan agar lebih mudah
          memperoleh
          informasi lowongan pekerjaan di berbagai daerah di tengah pandemi seperti ini. Kami menjembatani perusahaan
          yang
          membuka lowongan pekerjaan dengan para pelamar yang sedang membutuhkan pekerjaan. Fitur dari website aplikasi
          ini
          selain menyediakan laman informasi lowongan pekerjaan, juga memberikan tips bagaimana cara melamar pekerjaan
          dengan
          baik, dan ada juga forum untuk saling berbagi pengalaman terkait pekerjaan yang ada.</p>
      </td>
      <td>
        <img src="{% static 'img/homepic.jpg' %}" style="padding-left: 75px;" width="200" height="200">
      </td>
    </tr>
  </table> -->
  <img src="{% static 'img/homepic.jpg' %}" style="margin-left: auto;
  margin-right: auto; display: block;" width="200" height="200">
  <p style="text-align: center;">
    Di tengah pandemi covid-19 yang melanda saat ini, pekerjaan semakin banyak dicari oleh masyarakat untuk
    memenuhi
    kebutuhan hidup. Namun dengan tinggi kasus covid-19 yang bervariasi di tiap daerah menyebabkan lowongan
    pekerjaan
    semakin jarang dibuka. Sehingga, sulit bagi beberapa orang untuk mencari informasi, melamar, mendapatkan
    pekerjaan.
    Kami membuat aplikasi yang bertujuan untuk membantu orang-orang yang membutuhkan pekerjaan agar lebih mudah
    memperoleh
    informasi lowongan pekerjaan di berbagai daerah di tengah pandemi seperti ini. Kami menjembatani perusahaan
    yang
    membuka lowongan pekerjaan dengan para pelamar yang sedang membutuhkan pekerjaan. Fitur dari website aplikasi
    ini
    selain menyediakan laman informasi lowongan pekerjaan, juga memberikan tips bagaimana cara melamar pekerjaan
    dengan
    baik, dan ada juga forum untuk saling berbagi pengalaman terkait pekerjaan yang ada.
  </p>
  <br>
</div>
<div style="height:10px;background-color:#DA5144"></div>
<div style="background-color:#689775">
  <table class="center">
    <tr>
      <th>
        DATA KASUS COVID 19
      </th>
      <th>
        TIPS PROTOKOL KESEHATAN
      </th>
    </tr>
    <tr>
      <td>
        Total Kasus: {{ positif }}<br>
        Sembuh: {{ sembuh }} <br>
        Meninggal: {{ meninggal }}<br>
        (Source: https://kawalcorona.com/api/)
      </td>
      <td>
        Menggunakan Sanitizer<br>
        Memakai Masker<br>
        Menjaga Jarak<br>
      </td>
    </tr>
  </table>
</div>
<div style="height:10px;background-color: white"></div>
{% endblock content %}